<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Dashboard</title>
</head>

<body>
  <header class="d-flex flex-row justify-content-between align-items-center p-4">
    <h1>
      Dashboard
    </h1>
    <nav>
    {{#if logged_in}}
      <a href="/login"><button class="btn" id="logoutBtn">logout</button></a>
      <a href="/"><button class="btn" id="homeBtn1">Home Page</button></a>
      <a href="/dashboard/newpost"><button class="btn" id="newBtn">Create Post</button></a>
    {{else}}
      <a href="/login"><button class="btn" id="loginBtn">login</button></a>
      <a href="/"><button class="btn" id="homeBtn2">Home Page</button></a>
    {{/if}}
    </nav>
  </header>
  
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <script src="/js/logout.js"></script>
  <script src="/js/login.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>