<div class="row">
  <div class="col-md-6">
    <h2>Editing Post</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="title">{{title}}</input>
      </div>
      <input class="form-group">
        <label for="body">body:</label>
        <input class="form-input" type="text" id="body">{{body}}</input>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="create">Save Changes</button>
      </div>
    </form>
  </div>
</div>
