  <div class="col-md-12">
    <h2>New Post</h2>

    <form class="form post-form p-4">
      <div class="form-group">
        <label for="post-title">Title:</label><br>
        <textarea class="form-input col-md-12" id="post-title"></textarea>
      </div>
      <div class="form-group">
        <label for="post-body">body:</label><br>
        <textarea class="form-input col-md-12" id="post-body"></textarea>
      </div>
      <div class="form-group">
        <a href="/dashboard"><button class="btn" type="submit">create post</button></a>
      </div>
    </form>
  </div>
<script src="/js/newpost.js"></script>