* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #b3b3b3;
  color: white;
}

header {
  background-color: #f88d00;
}

button {
  background-color: #f88d00;
  color: white;
}

form {
  background-color: #cacaca;
  border: 3px solid #9d9d9d;
  border-radius: 30px;
}

.page-block {
  background-color: #cacaca;
  border: 3px solid #9d9d9d;
  border-radius: 30px;
}

a {
  color: #f88d00;
}

a:hover {
  text-decoration: none;
  color: white;
}

textarea {
  height: 10vh;
  background-color: #eeeeee;
  border: 1px solid #9d9d9d;
  padding: 10px;
  border-radius: 5px;
}